{% extends 'partials/base.html' %}
{%block title%}staff page{%endblock%}
{% block content%}
{% include 'partials/topnav.html' %}
<div class="container ">
    <div class="row my-4 ">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-white m-5 shadow ms-2 ">
                <thead class="bg-info">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">E-mail</th>
                    </tr>

                </thead>
                <tbody>
                    
        
             
                </tbody>

            </table>

        </div>

    </div>
</div>
{% endblock%}